html, body, #root, #root>div {
  height: 100%;
  margin: 0;
  background-color: indianred;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  position: relative;
  width: 0;
  height: 0;
}

.cell p {
  display: inline;
  font-size: 1.6rem;
  font-weight: 600;
}
