@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Thin.woff2) format('woff2'),
       url(./fonts/Geomanist-Thin.woff) format('woff');
 font-weight: 100;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-ExtraLight.woff2) format('woff2'),
       url(./fonts/Geomanist-ExtraLight.woff) format('woff');
 font-weight: 200;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Light.woff2) format('woff2'),
       url(./fonts/Geomanist-Light.woff) format('woff');
 font-weight: 300;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Book.woff2) format('woff2'),
       url(./fonts/Geomanist-Book.woff) format('woff');
 font-weight: 400;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Regular.woff2) format('woff2'),
       url(./fonts/Geomanist-Regular.woff) format('woff');
 font-weight: 500;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Medium.woff2) format('woff2'),
       url(./fonts/Geomanist-Medium.woff) format('woff');
 font-weight: 600;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Bold.woff2) format('woff2'),
       url(./fonts/Geomanist-Bold.woff) format('woff');
 font-weight: 700;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Black.woff2) format('woff2'),
       url(./fonts/Geomanist-Black.woff) format('woff');
 font-weight: 800;
}
@font-face {
  font-family: Geomanist;
  src: url(./fonts/Geomanist-Ultra.woff2) format('woff2'),
       url(./fonts/Geomanist-Ultra.woff) format('woff');
 font-weight: 900;
}

@keyframes grow {
  0% {
    transform: scale(0.833);
    easing: 'ease-out'
  }
  30% {
    transform: scale(1.0833);
    easing: 'ease-in-out'
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
    easing: 'ease-out'
  }
  30% {
    transform: scale(0.75);
    easing: 'ease-in-out'
  }
  100% {
    transform: scale(0.833);
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
}

h1, h2 {
  color: beige;
  animation-name: shrink;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 6rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  font-size: 2.16rem;
  font-weight: 900;
  padding: .9rem 1.8rem;
  color: beige;

  animation-name: shrink;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

button:hover {
  border-color: beige;
  color: #fffa03;

  animation-name: grow;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  cursor: pointer;
}

button .key {
  color: #fffa03;
}