html, body, #root, #root>div {
  height: 100%;
  margin: 0;
  background-color: black;
}

.map {
  border: solid 1px #ccc;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell p {
  display: inline;
  font-size: 1.6rem;
  font-weight: 600;
}
